## HACKER RANK

### SQL Exercises: MySQL

### City

Query a count of the number of cities in CITY having a Population larger than 100,000

In [ ]:
SELECT COUNT(ID) 
FROM CITY
WHERE POPULATION > 100000;

Query the total population of all cities in CITY where District is California

In [ ]:
SELECT SUM(POPULATION) 
FROM CITY
WHERE DISTRICT = 'California';

Query the average population for all cities in CITY, rounded down to the nearest integer.

In [ ]:
SELECT ROUND(AVG(POPULATION))
FROM CITY;

Query the difference between the maximum and minimum populations in CITY.

In [ ]:
SELECT MAX(POPULATION) - MIN(POPULATION)
FROM CITY;

Query the average population of all cities in CITY where District is California.

In [ ]:
SELECT AVG(POPULATION) 
FROM CITY 
WHERE DISTRICT = 'California';

Query the sum of the populations for all Japanese cities in CITY. The COUNTRYCODE for Japan is JPN.

In [ ]:
SELECT SUM(POPULATION)
FROM CITY
WHERE COUNTRYCODE = 'JPN';

### Station

Query the list of CITY names from STATION that do not start with vowels. Your result cannot contain duplicates

In [ ]:
SELECT DISTINCT CITY
FROM STATION
WHERE LEFT(CITY, 1) NOT IN ('a', 'e', 'i', 'o', 'u')

Query the list of CITY names from STATION that do not end with vowels. Your result cannot contain duplicates.

In [ ]:
SELECT DISTINCT CITY
FROM STATION
WHERE RIGHT(CITY, 1) NOT IN ('a', 'e', 'i', 'o', 'u')

Query the list of CITY names from STATION that either do not start with vowels or do not end with vowels. Your result cannot contain duplicates

In [ ]:
SELECT DISTINCT CITY
FROM STATION
WHERE LEFT(CITY, 1) NOT IN ('a', 'e', 'i', 'o', 'u') OR RIGHT(CITY, 1) NOT IN ('a', 'e', 'i', 'o', 'u');

Query the list of CITY names from STATION that do not start with vowels and do not end with vowels. Your result cannot contain duplicates

In [ ]:
WHERE LEFT(CITY, 1) NOT IN ('a', 'e', 'i', 'o', 'u') AND RIGHT(CITY, 1) NOT IN ('a', 'e', 'i', 'o', 'u')

-Query the following two values from the **STATION** table:

1. The sum of all values in *LAT_N* rounded to a scale of 2 decimal places.
2. The sum of all values in *LONG_W* rounded to a scale of 2 decimal places.

In [ ]:
SELECT ROUND(SUM(LAT_N), 2), ROUND(SUM(LONG_W), 2)
FROM STATION;

Query the sum of Northern Latitudes (LAT_N) from STATION having values greater than 38.7880 and less than 137.2345 . Truncate your answer to 4 decimal places

In [ ]:
SELECT ROUND(SUM(LAT_N), 4)
FROM STATION
WHERE LAT_N > 38.7880 AND LAT_N < 137.2345;

Query the greatest value of the Northern Latitudes (LAT_N) from STATION that is less than  137.2345. Truncate your answer to 4 decimal places

In [ ]:
SELECT ROUND(MAX(LAT_N), 4)
FROM STATION
WHERE LAT_N < 137.2345;

Query the greatest value of the Northern Latitudes (LAT_N) from STATION that is less than  137.2345. Truncate your answer to 4 decimal places

In [ ]:
SELECT ROUND(LONG_W, 4)
FROM STATION
WHERE LAT_N < 137.2345
ORDER BY LAT_N DESC LIMIT 1;

- for the largest LAT_N ==> ORDER BY LAT_N DESC LIMIT 1
- round to 4th decimal place
- LIMIT 1 gets you just 1 output
- ASC is smallest on top
- DESC is largest on top

Query the smallest Northern Latitude (LAT_N) from STATION that is greater than 38.7780. Round your answer to4 decimal places

In [ ]:
SELECT ROUND(LAT_N, 4)
FROM STATION
WHERE LAT_N > 38.7780
ORDER BY LAT_N ASC LIMIT 1;